<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<p><a href="/students?SID=1">    1    </a><a href="/students?SID=2">    2    </a><a href="/students?SID=3">    3    </a> 
    <a href="/students?SID=4">    4    </a><a href="/students?SID=5">    5    </a><a href="/students?SID=6">    6    </a> 
    <a href="/students?SID=7">    7    </a><a href="/students?SID=8">    8    </a><a href="/students?SID=9">    9    </a> 
    <a href="/students?SID=0">    0    </a></p>
<p><a href="/students?faculty=FIT">    FIT    </a></p>
<p><a href="/students?ID=4">    ID 4    </a></p>
</body>
</html>